USE [domiprof]
GO
ALTER TABLE [dbo].[Sale] DROP CONSTRAINT [FK_Sale_JournalOperation]
GO
ALTER TABLE [dbo].[Sale] DROP CONSTRAINT [FK_Sale_Customer]
GO
ALTER TABLE [dbo].[Purchase] DROP CONSTRAINT [FK_Purchase_Vendor]
GO
ALTER TABLE [dbo].[Purchase] DROP CONSTRAINT [FK_Purchase_JournalOperation]
GO
ALTER TABLE [dbo].[JournalOperation] DROP CONSTRAINT [FK_JournalOperation_Period]
GO
ALTER TABLE [dbo].[JournalOperation] DROP CONSTRAINT [FK_JournalOperation_Account]
GO
ALTER TABLE [dbo].[Customer] DROP CONSTRAINT [FK_Customer_CustomerGroup]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 26/4/2016 2:31:54 PM ******/
DROP TABLE [dbo].[Vendor]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 26/4/2016 2:31:54 PM ******/
DROP TABLE [dbo].[Sale]
GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 26/4/2016 2:31:54 PM ******/
DROP TABLE [dbo].[Purchase]
GO
/****** Object:  Table [dbo].[Period]    Script Date: 26/4/2016 2:31:54 PM ******/
DROP TABLE [dbo].[Period]
GO
/****** Object:  Table [dbo].[JournalOperation]    Script Date: 26/4/2016 2:31:54 PM ******/
DROP TABLE [dbo].[JournalOperation]
GO
/****** Object:  Table [dbo].[CustomerGroup]    Script Date: 26/4/2016 2:31:54 PM ******/
DROP TABLE [dbo].[CustomerGroup]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 26/4/2016 2:31:54 PM ******/
DROP TABLE [dbo].[Customer]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 26/4/2016 2:31:54 PM ******/
DROP TABLE [dbo].[Account]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 26/4/2016 2:31:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountCode] [varchar](10) NOT NULL,
	[ParentAccount] [int] NOT NULL,
	[AccountName] [varchar](150) NOT NULL,
	[AccountDescription] [varchar](250) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 26/4/2016 2:31:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[GroupId] [int] NOT NULL,
	[Disabled] [bit] NOT NULL CONSTRAINT [DF_Customer_Disabled]  DEFAULT ((0)),
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerGroup]    Script Date: 26/4/2016 2:31:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerGroup](
	[CustomerGroupId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_CustomerGroup_1] PRIMARY KEY CLUSTERED 
(
	[CustomerGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JournalOperation]    Script Date: 26/4/2016 2:31:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalOperation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[PeriodId] [int] NOT NULL,
	[OperationDate] [date] NOT NULL,
	[Amount] [money] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Deleted] [bit] NOT NULL CONSTRAINT [DF_JournalOperation_Deleted]  DEFAULT ((0)),
 CONSTRAINT [PK_Operations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Period]    Script Date: 26/4/2016 2:31:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Period](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Periods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 26/4/2016 2:31:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[PurchaseId] [int] IDENTITY(1,1) NOT NULL,
	[JournalOperationId] [int] NOT NULL,
	[VendorId] [int] NOT NULL,
 CONSTRAINT [PK_Purchase] PRIMARY KEY CLUSTERED 
(
	[PurchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sale]    Script Date: 26/4/2016 2:31:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[JournalOperationId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 26/4/2016 2:31:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[VendorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nchar](200) NULL,
	[Disabled] [bit] NOT NULL CONSTRAINT [DF_Vendor_Disabled]  DEFAULT ((0)),
 CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountId], [AccountCode], [ParentAccount], [AccountName], [AccountDescription]) VALUES (1, N'1', 0, N'Activo', NULL)
INSERT [dbo].[Account] ([AccountId], [AccountCode], [ParentAccount], [AccountName], [AccountDescription]) VALUES (2, N'101', 1, N'Ventas', NULL)
INSERT [dbo].[Account] ([AccountId], [AccountCode], [ParentAccount], [AccountName], [AccountDescription]) VALUES (3, N'102', 1, N'Inventario', NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [Code], [Name], [GroupId], [Disabled]) VALUES (1, N'CRT', N'La Carreta Restaurant', 3, 0)
INSERT [dbo].[Customer] ([CustomerId], [Code], [Name], [GroupId], [Disabled]) VALUES (2, N'MNL', N'Manolon', 2, 0)
INSERT [dbo].[Customer] ([CustomerId], [Code], [Name], [GroupId], [Disabled]) VALUES (3, N'FLN', N'Fulano de Tal', 1, 0)
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[CustomerGroup] ON 

INSERT [dbo].[CustomerGroup] ([CustomerGroupId], [Name], [Description]) VALUES (1, N'Cash', N'Clientes que pagan en cash')
INSERT [dbo].[CustomerGroup] ([CustomerGroupId], [Name], [Description]) VALUES (2, N'Piso', N'Clientes internos de la Plasa')
INSERT [dbo].[CustomerGroup] ([CustomerGroupId], [Name], [Description]) VALUES (3, N'Mercado', N'??')
SET IDENTITY_INSERT [dbo].[CustomerGroup] OFF
SET IDENTITY_INSERT [dbo].[JournalOperation] ON 

INSERT [dbo].[JournalOperation] ([Id], [AccountId], [PeriodId], [OperationDate], [Amount], [Description], [Deleted]) VALUES (1, 1, 1, CAST(N'2016-01-01' AS Date), 4.0000, NULL, 0)
INSERT [dbo].[JournalOperation] ([Id], [AccountId], [PeriodId], [OperationDate], [Amount], [Description], [Deleted]) VALUES (2, 2, 5, CAST(N'2016-05-03' AS Date), 1160.0000, NULL, 0)
INSERT [dbo].[JournalOperation] ([Id], [AccountId], [PeriodId], [OperationDate], [Amount], [Description], [Deleted]) VALUES (3, 2, 5, CAST(N'2016-05-06' AS Date), 100.0000, NULL, 0)
SET IDENTITY_INSERT [dbo].[JournalOperation] OFF
SET IDENTITY_INSERT [dbo].[Period] ON 

INSERT [dbo].[Period] ([Id], [StartDate], [EndDate], [Status]) VALUES (1, CAST(N'2016-01-01' AS Date), CAST(N'2016-01-31' AS Date), 1)
INSERT [dbo].[Period] ([Id], [StartDate], [EndDate], [Status]) VALUES (2, CAST(N'2016-02-01' AS Date), CAST(N'2016-02-29' AS Date), 1)
INSERT [dbo].[Period] ([Id], [StartDate], [EndDate], [Status]) VALUES (3, CAST(N'2016-03-01' AS Date), CAST(N'2016-03-31' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Period] OFF
SET IDENTITY_INSERT [dbo].[Purchase] ON 

INSERT [dbo].[Purchase] ([PurchaseId], [JournalOperationId], [VendorId]) VALUES (1, 16, 1)
INSERT [dbo].[Purchase] ([PurchaseId], [JournalOperationId], [VendorId]) VALUES (2, 42, 3)
INSERT [dbo].[Purchase] ([PurchaseId], [JournalOperationId], [VendorId]) VALUES (3, 53, 5)
SET IDENTITY_INSERT [dbo].[Purchase] OFF
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([SaleId], [JournalOperationId], [CustomerId]) VALUES (1, 2, 6)
INSERT [dbo].[Sale] ([SaleId], [JournalOperationId], [CustomerId]) VALUES (2, 3, 1)
INSERT [dbo].[Sale] ([SaleId], [JournalOperationId], [CustomerId]) VALUES (3, 4, 4)
SET IDENTITY_INSERT [dbo].[Sale] OFF
SET IDENTITY_INSERT [dbo].[Vendor] ON 

INSERT [dbo].[Vendor] ([VendorId], [Name], [Description], [Disabled]) VALUES (1, N'Apple', N'A turn in the bussiness                                                                                                                                                                                 ', 0)
INSERT [dbo].[Vendor] ([VendorId], [Name], [Description], [Disabled]) VALUES (2, N'Microsoft', N'The best deal of the history                                                                                                                                                                            ', 0)
INSERT [dbo].[Vendor] ([VendorId], [Name], [Description], [Disabled]) VALUES (3, N'IBM', N'Good until the Chinese...                                                                                                                                                                               ', 0)
SET IDENTITY_INSERT [dbo].[Vendor] OFF
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_CustomerGroup] FOREIGN KEY([GroupId])
REFERENCES [dbo].[CustomerGroup] ([CustomerGroupId])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_CustomerGroup]
GO
ALTER TABLE [dbo].[JournalOperation]  WITH CHECK ADD  CONSTRAINT [FK_JournalOperation_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[JournalOperation] CHECK CONSTRAINT [FK_JournalOperation_Account]
GO
ALTER TABLE [dbo].[JournalOperation]  WITH CHECK ADD  CONSTRAINT [FK_JournalOperation_Period] FOREIGN KEY([PeriodId])
REFERENCES [dbo].[Period] ([Id])
GO
ALTER TABLE [dbo].[JournalOperation] CHECK CONSTRAINT [FK_JournalOperation_Period]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_JournalOperation] FOREIGN KEY([JournalOperationId])
REFERENCES [dbo].[JournalOperation] ([Id])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_Purchase_JournalOperation]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([VendorId])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_Purchase_Vendor]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Customer]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_JournalOperation] FOREIGN KEY([JournalOperationId])
REFERENCES [dbo].[JournalOperation] ([Id])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_JournalOperation]
GO
