<div class="row">
   
    <div class="col-md-6">
        <div class="sales-toolbar">
            <ul class="list-inline">
                <li>
                    <button class="btn btn-success" type="button" data-ng-click="openSalesOperationDialog('insert')">
                        <i class="pe-7s-ticket"></i> Nueva
                    </button>
                </li>
                <li>
                    <button class="btn btn-info" type="button" data-ng-click="openSalesOperationDialog('update')">
                        <i class="pe-7s-scissors"></i> Modificar
                    </button>
                </li>
                <li>
                    <button class="btn btn-danger2" type="button">
                        <i class="pe-7s-trash"></i> Eliminar
                    </button>
                </li>
            </ul>
        </div>
        <h3> Ventas: {{week}}</h3>
        <table ng-table="tableParams" class="sales-table table table-condensed table-bordered table-hover">
            <colgroup>
                <col width="50%" />
                <col width="20%" />
                <col width="25%" />
            </colgroup>
            <tr class="ng-table-group" ng-repeat-start="group in $groups">
                <td colspan="4">
                    <a href="" ng-click="group.$hideRows = !group.$hideRows">
                        <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                        <strong>{{ group.value }}</strong>
                    </a>
                </td>
            </tr>
            <tr ng-hide="group.$hideRows" ng-repeat="sale in group.data">
                <td sortable="'customerGroup'" data-title="'Group'" groupable="'customerGroup'" ng-if="false">
                    {{sale.customerGroup}}
                </td>
                <td sortable="'name'" data-title="'Customer'" groupable="'customer'">
                    {{sale.customer}}
                </td>
                <td sortable="'amount'" data-title="'Amount'">
                    {{sale.amount}}
                </td>
                <td sortable="'amount'" data-title="'Date'">
                    {{sale.operationDate}}
                </td>
                <td>
                    <a ng-click="editSale($event)"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
            <tr ng-repeat-end>
                <td class="text-success text-right"><strong>Summary:</strong></td>
                <td><em>{{sum(group.data, "amount")}}</em></td>
            </tr>
            <tfoot ng-if="isLastPage()">
                <tr>
                    <td class="text-success text-right"><strong>Grant Total:</strong></td>
                    <td><em>{{totalAmount}}</em></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
