<div class="row">
    <table id="operation-grids">
        <tr>
            <td valign="top" width="50%">
                <div class="sales-toolbar">
                    <button class="btn btn-success" type="button" 
                            ng-click="openSalesOperationDialog('insert')">
                        <span class="pe-7s-ticket"></span>
                        <span class="bold ng-binding">+ Venta</span>
                    </button>
                    <button class="btn btn-info" type="button" ng-click="edit($event)" ng-disabled="!saleSelected">
                        <span class="pe-7s-users"></span>
                        <span class="bold ng-binding">Editar</span>
                    </button>
                    <button class="btn btn-danger2" type="button" ng-click="removeSale($event)" ng-disabled="!saleSelected">
                        <span class="pe-7s-delete-user"></span>
                        <span class="bold ng-binding">Eliminar</span>
                    </button>
                </div>
                <h4> Ventas: {{week}}</h4>
                <table ng-table="salesParams" class="sales-table table table-condensed table-bordered table-hover">
                    <tr class="ng-table-group" ng-repeat-start="group in $groups">
                        <td colspan="3">
                            <a href="" ng-click="group.$hideRows = !group.$hideRows">
                                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                                <strong>{{ group.value }}</strong>
                            </a>
                        </td>
                    </tr>
                    <tr ng-hide="group.$hideRows" ng-repeat="sale in group.data">
                        <td sortable="'customerGroup'" data-title="'Group'" 
                            groupable="'customerGroup'" ng-if="false">
                            {{sale.customerGroup}}
                        </td>
                        <td sortable="'customer'" data-title="'Customer'" 
                            groupable="'customer'" 
                            ng-click="select($event)">
                            {{sale.customer}}
                        </td>
                        <td sortable="'amount'" data-title="'Amount'"
                            ng-click="select($event)">
                            {{sale.amount}}
                        </td>
                        <td sortable="'operationDate'" data-title="'Date'"
                            ng-click="select($event)">
                            {{ sale.operationDate | date : 'MMM-dd' }}
                        </td>
                    </tr>
                    <tr ng-repeat-end>
                        <td class="text-success text-right"><strong>Summary:</strong></td>
                        <td><em>{{sum(group.data, "amount")}}</em></td>
                    </tr>
                    <tfoot ng-if="isLastPage()">
                        <tr>
                            <td class="text-success text-right"><strong>Grant Total:</strong></td>
                            <td><em>{{totalSalesAmount}}</em></td>
                        </tr>
                    </tfoot>
                </table>
            </td>
            <td valign="top" width="50%">
                <div class="purchases-toolbar">
                    <button class="btn btn-success" type="button"
                            ng-click="openPurchasesOperationDialog('insert')">
                        <span class="pe-7s-ticket"></span>
                        <span class="bold ng-binding">+ Compra</span>
                    </button>
                    <button class="btn btn-info" type="button" ng-click="editPurchase($event)" ng-disabled="!purchaseSelected">
                        <span class="pe-7s-users"></span>
                        <span class="bold ng-binding">Editar</span>
                    </button>
                    <button class="btn btn-danger2" type="button" ng-click="removePurchase($event)" ng-disabled="!purchaseSelected">
                        <span class="pe-7s-delete-user"></span>
                        <span class="bold ng-binding">Eliminar</span>
                    </button>
                </div>
                <h4> Compras: {{week}}</h4>
                <table ng-table="purchasesParams" class="purchases-table table table-condensed table-bordered table-hover">
                    <tr class="ng-table-group" ng-repeat-start="group in $groups">
                        <td colspan="3">
                            <a href="" ng-click="group.$hideRows = !group.$hideRows">
                                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                                <strong>{{ group.value }}</strong>
                            </a>
                        </td>
                    </tr>
                    <tr ng-hide="group.$hideRows" ng-repeat="purchase in group.data">
                        <td sortable="'vendor'" data-title="'Vendor'"
                            ng-click="select($event)">
                            {{purchase.vendor}}
                        </td>
                        <td sortable="'amount'" data-title="'Amount'"
                            ng-click="select($event)">
                            {{purchase.amount}}
                        </td>
                        <td sortable="'operationDate'" data-title="'Date'"
                            ng-click="select($event)">
                            {{ purchase.operationDate | date : 'MMM-dd' }}
                        </td>
                    </tr>
                    <tr ng-repeat-end>
                        <td class="text-success text-right"><strong>Summary:</strong></td>
                        <td><em>{{sum(group.data, "amount")}}</em></td>
                    </tr>
                    <tfoot ng-if="isLastPage()">
                        <tr>
                            <td class="text-success text-right"><strong>Grant Total:</strong></td>
                            <td><em>{{totalPurchasesAmount}}</em></td>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr>
    </table>
</div>
